//TODO: Variablen aus mdl übernehmen
$webpro-gray: color("grey", "base");

/* ==========  Landscape Message  ========== */
#webpro-landscape {
  position:fixed;
  z-index:10000;
  background-color: color("webpro-green", "base");
  width:100vw;
  height:100vh;
  color:white;
  text-align:center;
  padding:50px 50px 0 50px;
  display:none;
  @media only screen and (max-width : 769px) and (orientation: landscape){
    display:block;
  }
  p {
    font-size:1.4rem;
    font-weight: 500;
  }
}


/* ==========  HERO Unit  ========== */
.webpro-hero-image, .webpro-hero {

}
.webpro-hero-image {
  max-height:280px;
  overflow:hidden;
  position:fixed;
  width:100%;
  z-index:0;
  text-align:center;
  @media #{$medium-and-up} {
    max-height:400px;
  }
  img {
    height:auto;
    //min-height:300px;
    @media #{$small-and-down} {
      width:100%;
    }
    @media #{$medium-and-up} {
      min-height:400px;
      margin:0 -100%; // zum zentrieren
      min-width:100%;
    }
  }
  &.big {
    max-height:calc(100vh - 48px);
    width:auto;
    @media #{$small-and-down} {
      img {
        width:100%;
        height:auto;
      }
    }
    @media #{$medium-and-up} {
      width:100%;
    }
  }
}
.webpro-hero {
  position:relative;
  height:280px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  &.big {
    height:calc(100vh - 48px);
  }
}
.webpro-hero-button {
  margin-top:10px;
}
.webpro-hero-logo {
  padding-top:10px!important;
  @media #{$large-and-up} {
    img {
      margin-right:357px;
    }
  }
  @media #{$small-and-down} {
    text-align:center!important;
    img {
      width:80%;
      @media screen and (orientation : landscape) {
        width:60%;
      }
    }
  }
}
.webpro-hero-social {

  @media #{$medium-and-up} {
    //margin-right:340px;
  }
  @media #{$small-and-down} {
    text-align:center!important;
  }
}
.webpro-hero-claim {
  padding-top:0;
  text-align:center;
}
.webpro-hero1, .webpro-hero2 {
  display:inline-block;
  background-color:white;
  padding:10px;

}
.webpro-hero1 {
  color:color("webpro-green", "base");
  text-transform: uppercase;
  font-size:1.6rem;
  line-height:1.6rem;
  font-weight:600;
  @media #{$medium-and-up} {
    font-size:2rem;
    line-height:2rem;
  }
}
.webpro-hero2 {
  font-size:1.2rem;
  line-height:1.2rem;
  font-weight:300;
  margin-bottom:10px;
}
@media #{$medium-and-up} {
  .webpro-hero-claim {
    padding-top:30px;
  }
  .webpro-hero {
    height:400px!important;
    &.big {
      height:600px!important;
    }
  }
  .webpro-hero1 {
    font-size:3rem;
    line-height:3rem;
  }
  .webpro-hero2 {
    font-size:2rem;
    line-height:2rem;
    margin-bottom:20px;
  }
}

.container {
  padding-bottom:20px;
}
.background {
  position: relative;
  z-index:100;
  background-color:white;
}
.page-footer {
  z-index:100;
}

footer {
  margin-top:0!important;
}

/* ==========  Home Hero on Smartphone Landscape ========== */
@media #{$small-and-down} and (orientation: landscape) {
  .webpro-hero-button, #social-media {
    display:none;
  }
}

/* ==========  HEADER  1 ========== */

h1.webpro {
  font-weight:600;
  font-size:2rem;
  color:color("webpro-green", "base");
  //display: inline-block;
  padding-bottom: 18px;
  position: relative;
  text-transform: uppercase;
  @media #{$medium-and-up} {
      font-size:2.5rem;
      line-height:2.5rem;
  }
}
h1.webpro:after{
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid $webpro-gray;
}
.webpro-h1-before {
  text-transform: uppercase;
  line-height:0.1rem;
  color:$webpro-gray;
}

/* ==========  HEADER  2 ========== */
h2.webpro {
  //display: inline-block;
  font-size:1.6rem;
  color:$webpro-gray;
  font-weight:400;
  padding-bottom: 8px;
  position: relative;
  text-transform: uppercase;
  line-height:2.8rem;
}
h2.webpro:after{
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid color("webpro-green", "base");
}

/* ==========  Bullet Lists  ========== */
ul.webpro-list {
  list-style: initial;
  margin: initial;
  padding: 0 0 0 40px;
  li {
    list-style-type: disc;
  }
}

/* ==========  Nav Level 2  ========== */
.webpro-nav-lvl2 {
  //border-left:4px solid color("webpro-green", "base");
  //padding-left:10px;
  @media #{$medium-and-up} {
    margin-top:40px;
  }
}

/* ==========  various  ========== */
.webpro-subnav-active {
  color:color("webpro-red", "base");
}
h1, h2,h3 {
  font-weight:bold;
}
.headline {
  font-weight:500;
}
.webpro-partner {
  margin-top:20px;
}
.webpro-clickable-card {
  cursor: pointer;
}
.webpro-right {
  @media #{$large-and-up} {
    margin-top:10px;
  }
}
.webpro-left {
  @media #{$large-and-up} {
    margin-top:24px;
  }
}
.card {
  &.webpro-green {
    a {
      color:white;
    }
  }
}

/* ==========  Sticky Footer  ========== */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.collection {
  &.webpro {
    margin:0 !important;
  }
}

/* ==========  Events Card  ========== */
.card-events-day {
  text-transform: uppercase;
  font-size:12px;
  font-weight:500;
}
.card-events-date {
  font-size:20px;
  font-weight:500;
}

/* ==========  Social Media Icons  ========== */
#social-media {
  padding: 10px 0 0 0;
  @media #{$medium-and-up} {
    position:absolute;
    top:0;
    right:10px;
  }
  a {
    background-size: cover;
  }
  a:hover {
    background-color: color("webpro-red", "base")!important;

  }
}
#social-media a.social-android {
  background-image: url(/images/socialmedia/android.svg);
  background-color: #A4C639;
}
#social-media a.social-ios {
  background-image: url(/images/socialmedia/apple.svg);
  background-color: #5b5b5c;
}
#social-media a.social-fb {
  background-image: url(/images/socialmedia/facebook.svg);
  background-color: #3b5998;
}
#social-media a.social-tw {
  background-image: url(/images/socialmedia/twitter.svg);
  background-color: #1da1f2;
}
#social-media a.social-gp {
  background-image: url(/images/socialmedia/google.svg);
  background-color: #dd4b39;
}
#social-media a.social-in {
  background-image: url(/images/socialmedia/instagram.svg);
  background-color: #000000;
}
#social-media a.social-yt {
  background-image: url(/images/socialmedia/youtube.svg);
  background-color: #e62117;
}
#social-media a, #search-icon {
  width: 36px;
  height: 36px;
  display: inline-block;
  margin-left: 2px;
  margin-bottom: 8px;
  text-indent: 9999px;
  outline: none;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: top;
  overflow: hidden;
}

/* ==========  Cards  ========== */
.card-content {
  font-size:14px;
}